.toggle .header {
    display: block;
    clear: both;
    font-weight: bold;
    cursor: pointer
}

.toggle .header > *:last-child:before {
    content: "Show License ▶";
}

.toggle .header.open > *:last-child:before {
    content: "Hide License ▼";
}
